<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ch.papers.zaturnsdk">

    <application>
        <activity
            android:name=".internal.oauth.apple.AppAuthActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Zaturn.Theme.Transparent" />
        <activity
            android:name=".internal.oauth.google.AppAuthActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Zaturn.Theme.Transparent" />
        <activity
            android:name=".internal.oauth.google.GoogleSignInActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Zaturn.Theme.Transparent" />
        <activity android:name=".oauth.OAuthRedirectActivity" />
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            tools:node="replace"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="ch.papers.zaturn"/>
            </intent-filter>
        </activity>
    </application>

</manifest>